<!DOCTYPE html>
<html>
<head></head>
<body>
<div th:fragment="footer">
    <div class="container foot__container">
        <div class="foot__block">
            <h2 class="foot-title">Online-school</h2>
            <address class="adress foot-adress">
                <ul class="adress__list">
                    <li class="adress__item list">
                        <a
                                class="adress__link link"
                                href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
                                target="_blank"
                                rel="noopener noreferrer nofollow">Харків, проспект Науки, 20</a
                        >
                    </li>
                    <li class="adress__item list">
                        <a class="adress__adress link" href="mailto:info@devstudio.com">info@online-school.com</a>
                    </li>
                    <li class="adress__item list">
                        <a class="adress__adress link" href="tel:+380961111111">+38 096 111 11 11</a>
                    </li>
                </ul>
            </address>
        </div>
        <div class="join foot-soc">
            <h2 class="join__title">Приєднуйтесь</h2>
            <ul class="join__list list">
                <li class="join__item">
                    <a class="join__internet-link" href="https://www.instagram.com"
                       target="_blank"
                       rel="noopener noreferrer nofollow"
                    ><svg class="join__social-icons" width="20" height="20">
                        <use
                                href="./images/symbol-defs.svg#icon-instagram-2"></use></svg
                    ></a>
                </li>
                <li class="join__item">
                    <a
                            class="join__internet-link"
                            href="https://twitter.com"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                    ><svg class="join__social-icons" width="20" height="20">
                        <use
                                href="./images/symbol-defs.svg#icon-twitter-1"></use></svg
                    ></a>
                </li>
                <li class="join__item">
                    <a
                            class="join__internet-link"
                            href="https://www.facebook.com"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                    ><svg class="join__social-icons" width="20" height="20">
                        <use href="./images/symbol-defs.svg#icon-facebook-1"></use></svg
                    ></a>
                </li>
                <li class="join__item">
                    <a
                            class="join__internet-link"
                            href="https://www.linkedin.com"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                    ><svg class="join__social-icons" width="20" height="20">
                        <use href="./images/symbol-defs.svg#icon-linkedin-1"></use></svg
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>