<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Лекції</title>
</head>
<body>
<div class="container">
    <header class="head">
        <div>
            <a class="logo link" href="/">Онлайн Школа</a>
        </div>

        <nav class="navigation">
            <ul class="menu site-nav list">
                <li><a class="menu__nav-link link" href="/">Онлайн Школа</a></li>
                <li><a class="menu__nav-link link" href="/course">Курси</a></li>
                <li><a class="menu__nav-link link" href="/students">Студенти</a></li>
                <li><a class="menu__nav-link link" href="/teachers">Вчителі</a><li>
                <li><a class="menu__nav-link link current" href="/lectures">Лекції</a></li>
                <li><a class="menu__nav-link link" href="/additional-materials">Додаткові матеріали</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container section-part">
            <div class="container">
                <h1>Назва лекції та кількість додаткових матеріалів, яка вона містить, відсортовані за датою та які проодили до 2023 року.</h1>
                <table>
                    <tr th:each="lectureBefore2023 : ${lecturesBefore2023}">
                        <td class="align-middle" th:text="${lectureBefore2023[0]}"></td>
                        <td class="align-middle"th:text="${lectureBefore2023[1]}"></td>
                    </tr>
                </table>

                <h1>Лекція, яка стоворена раніше за всіх та має найбільшу кількість домашніх завданнів:</h1>
                id=<span th:text="${earliest[0]}"></span>, course id=<span th:text="${earliest[1]}"></span>,
                name=<span th:text="${earliest[2]}"></span>, description=<span th:text="${earliest[3]}"></span>,
                date=<span th:text="${earliest[4]}"></span>
            </div>
        </section>
    </main>

    <footer class="foot footer-part" th:insert="~{fragments/footer :: footer}">

    </footer>
</div>
</body>
</html>