<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Увійти в систему</title>
</head>
<body>
<div class="container">
    <header class="head">
        <div>
            <a class="logo link" href="/">Онлайн Школа</a>
        </div>

        <nav class="navigation">
            <ul class="menu site-nav list">
                <li><a class="menu__nav-link link current" href="/">Онлайн Школа</a></li>
                <li><a class="menu__nav-link link" href="/course">Курси</a></li>
                <li><a class="menu__nav-link link" href="/students">Студенти</a></li>
                <li><a class="menu__nav-link link" href="/teachers">Вчителі</a><li>
                <li><a class="menu__nav-link link" href="/lectures">Лекції</a></li>
                <li><a class="menu__nav-link link" href="/additional-materials">Додаткові матеріали</a></li>
                <li><a class="menu__nav-link link" href="/settings">Налаштування</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container section-part">
            <h1>Увійти в систему</h1>
            <div class="container">
                <div th:if="${param.error}" style="color: red;">
                    Імʼя користувача або пароль не зареєстровано в системі.
                </div>
                <div th:if="${param.logout}">
                    Ви вийшли з системи.
                </div>
                <div th:if="${session.registered}">
                    Обліковий запис зареестровано. Увійдіть до системи.
                </div>
                <form th:action="@{/login}" method="post">
                    <div><label> Імʼя користувача: <input type="text" name="username"/> </label></div>
                    <div><label> Пароль: <input type="password" name="password"/> </label></div>
                    <div><input type="submit" value="Увійти в систему"/></div>
                    <div><a href="/register">Створити обліковий запис</a></div>
                </form>
            </div>
        </section>
    </main>

    <footer class="foot footer-part" th:insert="~{fragments/footer :: footer}">

    </footer>
</div>
</body>
</html>